<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/semantic.min.css') }}" />
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}"></script>
    {% block head %}
    {% endblock head %}
    <title>ME - {% block title %}{% endblock title %}</title>
</head>
<body>
    {% block nav%}
    <div class="ui menu">
        <div class="header item">
            Minha Empresa
        </div>
        <a class="item" href="/">
            Home
        </a>

        <a class="item" href="/cedulas/cadastro">
            Cedulas
        </a>
    </div>
    {% endblock nav%}
   
    <div style="padding: 10px;">
        {% block content %}

        {% endblock content %}  
    </div>
          
</body>
</html>