{% extends 'base.html' %} 

{% block title %}Moedas{% endblock title %} 

{% block content %}
<form action="" method=""> 
        <div class="ui form" style="padding: 10px;">
            <div class="fields">
                <div class="field">
                    <label>Valor Total</label>
                    <input type="text" placeholder="Valor Total">
                </div>
                <div class="field">
                    <label>Valor Pago</label>
                    <input type="text" placeholder="Valor Pago">
                </div>
                <div class="field">
                    <label>Troco</label>
                    <input type="text" placeholder="Troco">
                </div>
            </div>
        </div>
        <div style="padding: 10px;">
            <button class="ui button" type="submit">Submit</button>
        </div>
    </form> 
{% endblock content%}